[access]
	inheritFrom = recaptcha-account-protections-eng
[submit]
	action = inherit
[access "refs/*"]
	owner = group mdb/recaptcha-account-protections-eng
	read = group mdb/copybara-git-readers
	create = group mdb/copybara-git-writers
	createTag = group mdb/copybara-git-writers
	push = group mdb/copybara-git-writers
	forgeAuthor = group mdb/copybara-git-writers
	forgeCommitter = group mdb/copybara-git-writers
